@font-face {
    font-family: 'Mallian';
    font-style: normal;
    font-weight: 700;
    src: url(mallian.woff2) format('woff2');
}

body { font-family: 'Fira Mono', monospace}

.mallian { font-family: mallian, monospace}

@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/font/fira mono/FiraMono-Regular.ttf") format('ttf');
  }
  