:root {
  --bg-main: #8ACE00;
  --bg: #3c530e;
  --text: #f5ffe2;
  --button-bg: #557710;
  --jalinkhover:#c0e676;
}

.main {
  max-width: 100%;
  text-align: center;
  background: var(--bg-main);
  border-radius: 5px;
  padding-bottom:5px;
}

.main2 {
  max-width: 100%;
  border-radius: 5px;
  padding-bottom:5px;
}

body {
  margin-left:10%;
  margin-right:10%;
  background: var(--bg);
  color:var(--text);
}
a.jalink, a.jalink:visited {text-decoration:underline; color:var(--text); background-color: rgba(255, 255, 255, 0); padding: 0px}
a.jalink:hover {color:var(--jalinkhover)}
a, button, a:visited {
  text-decoration: none;
  background-color: var(--button-bg);
  color: var(--text);
  border-radius: 5px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:15px;
  padding-left:7px;
  padding-right:7px;
}

a.entry, a.entry:visited {
  text-decoration: none;
  color: var(--text);
}
td {vertical-align: top;}
table {
  width: auto;
  table-layout: fixed;
  vertical-align: top;
  }
.grid {display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}