:root {
  --bg-main:#dd4b11;
  --bg:#c43320;
  --text: #ede7be;
  --button-bg:#cb371c;
}

.main {
  max-width: 100%;
  text-align: center;
  background: var(--bg-main);
  border-radius: 5px;
  padding-bottom:5px;
}

.main2 {
  max-width: 100%;
  border-radius: 5px;
  padding-bottom:5px;
}

body {
  margin-left:10%;
  margin-right:10%;
  background: var(--bg);
  color:var(--text);
}

a, button, a:visited {
  text-decoration: none;
  background-color: var(--button-bg);
  color: var(--text);
  border-radius: 5px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:15px;
  padding-left:7px;
  padding-right:7px;
}
a.link {
	text-decoration:underline;
	color: var(--text);
	background-color: #ffffffff;
}
a.entry, a.entry:visited {
  text-decoration: none;
  color: var(--text);
}
td {vertical-align: top;}
table {
  width: 100%;
  table-layout: fixed;
  vertical-align: top;
  }