@font-face {
  font-family: "bahn";
  src: url("/font/bahnschrift/Bahnschrift.woff2");
}
@font-face {
  font-family: "Evajp";
  src: url("/font/default/NotoSerifJP-Black.otf");
}
@font-face {
  font-family: "Evatc";
  src: url("/font/default/NotoSerifTC-Black.otf");
}
@font-face {
  font-family: "Evasc";
  src: url("/font/default/NotoSerifSC-Black.otf");
}
@font-face {
  font-family: "Evakr";
  src: url("/font/default/NotoSerifKR-Black.otf");
}
.noto-serif jp-regular {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6,h7 {
 font-family: "bahn";
 font-weight: bold;
}
p {
  font-family: "bahn";
  font-size: 15px;
}
a, a:visited, button {
  font-family: "bahn";
  font-size: 15px;
}
/* 
a.entry, a.entry:visited {
  font-size: 15px;
}
*/