@font-face {
  font-family: "timesh";
  src: url("/font/default/TimesNewRomanPS-BaoldMT.woff2");
}
@font-face {
  font-family: "Evajp";
  src: url("/font/default/NotoSerifJP-Black.otf");
}
@font-face {
  font-family: "Evatc";
  src: url("/font/default/NotoSerifTC-Black.otf");
}
@font-face {
  font-family: "Evasc";
  src: url("/font/default/NotoSerifSC-Black.otf");
}
@font-face {
  font-family: "Evakr";
  src: url("/font/default/NotoSerifKR-Black.otf");
}
.noto-serif jp-regular {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6,h7 {
 font-family: "timesh", "Evajp", "Evatc", "Evasc", "Evakr", "ukilen";
}
p {
  font-family: times, serif, "ukilen";
  font-size: 15px;
}
a, a:visited, button {
  font-family: times, serif;
  font-size: 15px;
}
a.entry, a.entry:visited {
  font-family: times;
  font-size: 15px;
}