:root {
    --color0: #06050B;
    --color1: #a686f7;
    --color2: #9C6793;
    --color3: #DA629B;
    --color4: #C35CB8;
    --color5: #A998A0;
    --color6: #D1A5A8;
    --color7: #e2d8d6;
    --color8: #9e9795;
}
