:root {
  --bg-main:#ff99ff;
  --bg:#ff00ff;
  --text:#f2e4f2;
  --button-bg:#ff00ff;
}

@font-face {
  font-family: "timesh";
  src: url("/font/TimesNewRomanPS-BaoldMT.woff2");
}
@font-face {
	 font-family: "ukilen";
	 src: url("/font/UkilenLg.ttf");
	}	
@font-face {
  font-family: "Evajp";
  src: url("/font/NotoSerifJP-Black.otf");
}

@font-face {
  font-family: "Evatc";
  src: url("/font/NotoSerifTC-Black.otf");
}
@font-face {
  font-family: "Evasc";
  src: url("/font/NotoSerifSC-Black.otf");
}
@font-face {
  font-family: "Evakr";
  src: url("/font/NotoSerifKR-Black.otf");
}
.noto-serif jp-regular {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
}
.main {
  max-width: 100%;
  text-align: center;
  background: var(--bg-main);
  border-radius: 5px;
  padding-bottom:5px;
}
.main2 {
  max-width: 100%;
  border-radius: 5px;
  padding-bottom:5px;
}

h1,h2,h3,h4,h5,h6,h7 {
 font-family: "timesh", "Evajp", "Evatc", "Evasc", "Evakr", "ukilen";
}
body {
  margin-left:10%;
  margin-right:10%;
  background: var(--bg);
  color:var(--text);
}
p {
  font-family: times, serif, "ukilen";
  font-size: 15px;
}
a, button, a:visited {
  text-decoration: none;
  font-family: times, serif;
  background-color: var(--button-bg);
  color: var(--text);
  border-radius: 5px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:15px;
  padding-left:7px;
  padding-right:7px;
  font-size: 15px;
}

a.entry, a.entry:visited {
  text-decoration: none;
  font-family: times;
  color: var(--text);
  font-size: 15px;
}
.tt {
  width: 100%;
  table-layout: fixed;
  vertical-align: top;
  }