.colon3 {width:50%; max-width:250px; height:auto;}
.main {text-align:center; border-radius:10px; margin-bottom:10px; padding-bottom:10px;}
.pfp {width:275px; height:auto; margin-bottom:-1%; margin-top:-1%; border-radius:100%}
.flag {width:75%; height:auto; max-height:150px;} 
.emoji {height:12px; width:auto;}
.center {vertical-align: middle;}